.main_section {
    position: relative;
    height: 500px;
    @media (max-width: 990px) {
        height: 450px;
    }
    &::before {
        content: '';
        background: rgba(0, 0, 0, .4);
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        height: 100%;
        z-index: 9;
        width: 100%;
    }
    .main_section_bg {
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        right: 0;
        bottom: 0;
        object-fit: cover;
        top: 0;
    }
    .container {
        height: 100%;
        position: relative;
        z-index: 9;
    }
    .main_section_wrap {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        position: relative;
        padding-right: 150px;
        z-index: 10;
        height: 100%;
        @media (max-width: 990px) {
            padding: 0;
        }
        .main_section_box {
            max-width: 500px;
            .main_title {
                margin-bottom: 15px;
                color: #fff;
                font: bold 3rem/1 'Hind Siliguri', sans-serif;
                @media (max-width: 990px) {
                    font: bold 2rem/1 'Hind Siliguri', sans-serif;
                }
            }
            .main_text {
                font: 400 1rem/25px 'Hind Siliguri', sans-serif;
                margin-bottom: 20px;
                color: #fff;
                @media (max-width: 990px) {
                    font: 400 .95rem/23px 'Hind Siliguri', sans-serif;
                }
            }
            .main_btn {
                background: #37c5a6;
                display: inline-block;
                border-radius: 25px;
                padding: 10px 25px;
                color: #fff;
                font: 400 1rem 'Hind Siliguri', sans-serif;
                @media (max-width: 576px) {
                    width: 100%;
                    box-sizing: border-box;
                    display: block;
                    text-align: center;
                }
            }
        }
    }
}

.about_us {
    background: rgb(67, 178, 210);
    background: linear-gradient(90deg, rgba(67, 178, 210, 1) 0%, rgba(63, 185, 195, 1) 43%, rgba(57, 193, 175, 1) 100%);
    .container {
        padding: 50px 0;
        @media (max-width: 990px) {
            padding: 30px 0;
        }
    }
    .about_us_wrap {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px;
        align-items: center;
        @media (max-width: 990px) {
            grid-template-columns: 1fr;
        }
        .about_us_box {
            display: grid;
            grid-template-columns: 40px 1fr;
            grid-gap: 20px;
            align-items: start;
            img {
                height: 40px;
            }
            .info_title {
                color: #fff;
                font: 600 1.125rem 'Hind Siliguri', sans-serif;
                @media (max-width: 990px) {
                    font: 600 1.1rem 'Hind Siliguri', sans-serif;
                }
            }
            .info_text {
                color: #fff;
                font: 400 1rem/24px 'Hind Siliguri', sans-serif;
                @media (max-width: 990px) {
                    font: 400 .95rem/22px 'Hind Siliguri', sans-serif;
                }
            }
        }
    }
}

.title_block {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
    flex-direction: column;
    @media (max-width: 990px) {
        margin-bottom: 15px;
    }
    img {
        height: 25px;
        margin-bottom: 5px;
    }
    .pretitle_section {
        color: #37c5a6;
        font: 400 .95rem 'Hind Siliguri', sans-serif;
        text-transform: uppercase;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        &::before {
            content: '';
            display: block;
            background: #37c5a6;
            height: 1px;
            width: 80%;
            position: absolute;
            margin: 0 auto;
            top: 100%;
        }
    }
    .title_section {
        color: #163f7a;
        font: 600 2rem 'Hind Siliguri', sans-serif;
    }
}

.video_block {
    .container {
        padding: 60px 0;
        @media (max-width: 990px) {
            padding: 30px 0;
        }
    }
    .video_block_wrap {
        display: grid;
        grid-template-columns: 1fr 1fr;
        @media (max-width: 990px) {
            grid-template-columns: 1fr;
        }
    }
    .video_block_info {
        margin: 40px 0;
        padding: 45px;
        position: relative;
        background: #daeff6;
        right: -40px;
        z-index: 10;
        @media (max-width: 990px) {
            right: 0;
            margin: 0;
            padding: 20px;
        }
        &::after {
            position: absolute;
            bottom: -40px;
            right: 0;
            border: 20px solid transparent;
            border-top: 20px solid #daeff6;
            border-left: 20px solid #daeff6;
            content: '';
            z-index: -1;
        }
        .video_title {
            font: 500 1.5rem 'Hind Siliguri', sans-serif;
            @media (max-width: 990px) {
                font: 500 1.4rem 'Hind Siliguri', sans-serif;
            }
        }
        .video_text {
            margin-bottom: 20px;
            font: 400 .9rem 'Hind Siliguri', sans-serif;
            @media (max-width: 990px) {
                margin-bottom: 15px;
            }
        }
        .video_btn {
            background: #37c5a6;
            display: inline-block;
            border-radius: 25px;
            padding: 10px 25px;
            color: #fff;
            font: 400 1rem 'Hind Siliguri', sans-serif;
            @media (max-width: 576px) {
                width: 100%;
                box-sizing: border-box;
                display: block;
                text-align: center;
            }
        }
    }
    .video_block_link {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        @media (max-width: 990px) {
            height: 300px;
        }
        &::before {
            content: '';
            background: rgba(0, 0, 0, .2);
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            height: 100%;
            z-index: 9;
            width: 100%;
        }
        .video_bg {
            position: absolute;
            height: 100%;
            width: 100%;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            object-fit: cover;
        }
        a {
            z-index: 9;
            position: absolute;
            img {
                height: 60px;
            }
        }
    }
}

.video_block_2 {
    .container {
        padding: 60px 0;
        @media (max-width: 990px) {
            padding: 30px 0;
        }
    }
    .video_block_wrap {
        display: grid;
        grid-template-columns: 1fr 1fr;
        @media (max-width: 990px) {
            grid-template-columns: 1fr;
        }
    }
    .video_block_info {
        margin: 40px 0;
        padding: 45px;
        position: relative;
        background: #daeff6;
        left: -40px;
        z-index: 10;
        @media (max-width: 990px) {
            right: 0;
            margin: 0;
            padding: 20px;
        }
        &::after {
            position: absolute;
            bottom: -40px;
            left: 0;
            border: 20px solid transparent;
            border-top: 20px solid #daeff6;
            border-right: 20px solid #daeff6;
            content: '';
            z-index: -1;
        }
        .video_title {
            font: 500 1.5rem 'Hind Siliguri', sans-serif;
            @media (max-width: 990px) {
                font: 500 1.4rem 'Hind Siliguri', sans-serif;
            }
        }
        .video_text {
            margin-bottom: 20px;
            font: 400 .9rem 'Hind Siliguri', sans-serif;
            @media (max-width: 990px) {
                margin-bottom: 15px;
            }
        }
        img {
            max-width: 100%;
            height: auto;
        }
    }
    .video_block_link {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        @media (max-width: 990px) {
            height: 300px;
        }
        &::before {
            content: '';
            background: rgba(0, 0, 0, .2);
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            height: 100%;
            z-index: 9;
            width: 100%;
        }
        .video_bg {
            position: absolute;
            height: 100%;
            width: 100%;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            object-fit: cover;
        }
    }
}

.about_product {
    position: relative;
    &::before {
        content: '';
        background: rgba(55, 197, 166, .3);
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        height: 100%;
        z-index: 9;
        width: 100%;
    }
    .title_block {
        .title_section {
            color: #fff;
        }
    }
    .container {
        position: relative;
        z-index: 9;
        padding: 60px 0;
    }
    .about_product_wrap {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 70px;
        margin-bottom: 40px;
        @media (max-width: 990px) {
            grid-template-columns: 1fr;
            grid-gap: 35px;
            margin-bottom: 20xp;
        }
        img {
            max-width: 100%;
            height: auto;
            object-fit: cover;
        }
        .title_prod {
            color: #fff;
            margin-bottom: 5px;
            font: 600 1.5rem 'Hind Siliguri', sans-serif;
        }
        .text_prod {
            font: 400 .9rem/24px 'Hind Siliguri', sans-serif;
            color: #fff;
        }
    }
    .about_img_bg {
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        object-fit: cover;
    }
    .btn_wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        a {
            background: #37c5a6;
            display: inline-block;
            border-radius: 25px;
            padding: 10px 25px;
            color: #fff;
            font: 400 1rem 'Hind Siliguri', sans-serif;
            @media (max-width: 576px) {
                width: 100%;
                box-sizing: border-box;
                display: block;
                text-align: center;
            }
        }
    }
}

.partner {
    background: rgb(67, 178, 210);
    background: linear-gradient(90deg, rgba(67, 178, 210, 1) 0%, rgba(63, 185, 195, 1) 43%, rgba(57, 193, 175, 1) 100%);
    .container {
        padding: 50px 0;
        @media (max-width: 990px) {
            padding: 30px 0;
        }
    }
    .partner_wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        img {
            margin: 10px;
            max-width: 100%;
            height: auto;
            @media (max-width: 576px) {
                display: block;
                margin: 0 auto;
            }
        }
    }
}

.map {
    margin-bottom: 40px;
    iframe {
        width: 100%;
        box-sizing: border-box;
        height: 350px;
    }
}