.footer_wrap {
    display: grid;
    grid-template-columns: 4fr 3fr 5fr 4fr;
    grid-gap: 40px;
    @media (max-width: 990px) {
        grid-template-columns: 1fr;
        grid-gap: 10px;
    }
    .footer_logo {
        img {
            max-width: 100%;
            height: auto;
        }
    }
    .footer_title {
        margin-bottom: 8px;
        color: #444f5d;
        font: 600 1.25rem 'Hind Siliguri', sans-serif;
    }
    .footer_text {
        color: #797676;
        font: 400 .87rem 'Hind Siliguri', sans-serif;
    }
    .footer_menu {
        ul {
            li {
                margin: 4px 0;
                a {
                    color: #515151;
                    transition: .2s;
                    font: 400 1rem 'Hind Siliguri', sans-serif;
                    &:hover {
                        color: #37c5a6;
                    }
                }
            }
        }
    }
    .footer_sub {
        .footer_sub_form {
            display: flex;
            position: relative;
            align-items: center;
        }
        input {
            width: 100%;
            box-sizing: border-box;
            color: #444f5d;
            background-color: rgba(130, 129, 129, 0.2);
            border-color: #e4e3e3;
            padding: 8px 15px;
            border-radius: 25px;
            outline: none;
            border: none;
            appearance: none;
            font: 400 .95rem 'Hind Siliguri', sans-serif;
        }
        button {
            position: absolute;
            background: #37c5a6;
            right: 0;
            padding: 8px 20px;
            cursor: pointer;
            border-radius: 25px;
            border: none;
            color: #fff;
            appearance: none;
            text-transform: uppercase;
            font: 400 .95rem 'Hind Siliguri', sans-serif;
        }
    }
}

.footer_copy {
    border-top: 1px solid #ebeaea;
    padding: 10px 70px;
    margin-top: 25px;
    @media (max-width: 1280px) {
        padding: 10px 45px;
    }
    @media (max-width: 990px) {
        padding: 10px 15px;
    }
    p {
        max-width: 1280px;
        margin: 0 auto;
        font: 400 .87rem 'Hind Siliguri', sans-serif;
    }
}